@use 'fonts';

$primary-color: #E9A3A5;   
$secondary-color: #FDC98D; 
$accent-color: #FEF9F3;  
$body-text-color: #3a3a3a; 
$pink: #FFD6E0;
$green: #A6BDA9;
$blue: #CAF0F8;
$beige: #FFD8BE;
$base-font-size: 18px;
$base-font-weight: 400;