<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-end Development of PlayNest Toy Website</title>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Link to font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
    <!-- Link to favicon -->
    <link rel="icon" type="image/png" href="toy_favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="toy_favicon/favicon.svg">
    <link rel="shortcut icon" href="toy_favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="toy_favicon/apple-touch-icon.png">
    <link rel="manifest" href="toy_favicon/site.webmanifest">
      <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script defer src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
       <!-- link to greensock main library -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <!-- link to greensock scroll trigger library -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>
    <script src="js/scrolltrigger.js"></script>
    <script type="module" src="js/main.js"></script>

</head>

<body>
    <h1 class="hidden">Welcome to PlayNest</h1>
    <div>
        <section class="full-width-grid-con">
            <h2 class="hidden">Main Navigation</h2>
            <header id="main-header" class="full-width-grid-con">
                <input type="checkbox" id="hamburger">
                <label for="hamburger" id="ham-burger">
                    <img src="images/ham-burger-menu.svg" alt="Menu">
                </label>
                <div id="logo" class="col-start-1 col-end-2">
                    <img src="images/playnest_logo.png" alt="Logo">
                </div>

                <div id="main-nav" class="m-col-start-2 m-col-end-13 l-col-end-12">
                    <nav class="burger-con">
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">SHOP</a></li>
                        </ul>
                    </nav>
                </div>
                 <div class="header-icons col-start-4 col-end-5 m-col-start-11 m-col-end-13 l-col-start-10 l-col-end-12">
                    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </header>
        </section>
    </div>
    <main>


       <div class="full-width-grid-con hero-image">
        <img src="images/hero_image.jpg" alt="" class="col-span-full ">
         <div class="hero-text">
        <h2>Adventure Starts in the Nest, <br>
Where Play Feels Like Home.</h2>

    </div>
    <div>
        <a href="#" class="btn">Shop Now</a>
    </div>
       </div>

       <section class="grid-con" id="brandapp">
        <h2 class="col-span-full brands">Our Brands</h2>
        <p class="col-span-full brand-des">From cuddly companions to clever learning toys, each brand in our nest is chosen to bring joy, curiosity, and safe fun to your little one. Click below and know your next favorite today!</p>

        <div v-if="loadingBrands">
          <img class="loader" src="images/loader.svg" alt="Loading Brands">
        </div>

        <ul id="brand-list" v-else class="col-span-full m-col-start-1 m-col-end-13 l-col-start-1 l-col-end-13">
            <li v-for="brand in brandsData" :key="brand.id" @click="getBrand(brand.id)">
                <img :src="brand.brand_image_url" :alt="brand.brand_name">
                <h3>{{brand.brand_name}}</h3>
            </li>
        </ul>

    
            <div v-if="loadingBrandDetails">
                <img class="loader" src="images/loader.svg" alt="Loading Brand Details">
            </div>
            <div v-else-if="error">{{error}}</div>
            <div v-else-if="selectedBrands" id="lightbox" class="grid-con">
            <div class="col-span-full m-col-start-1 m-col-end-13 brandinfo">
                <button class="lightbox_close" @click="closeLightbox">x</button>
                <p class="brand-name">
                    {{selectedBrands.brand_name}}
                </p>
                <p><span class="title-brand">Description:</span>
                    {{selectedBrands.brand_description}}
                </p>
                <p><span class="title-brand">Made in:</span>
                    {{selectedBrands.brand_description}}
                </p>
            </div>
            </div>
       </section>

       <article class="aboutus">
        <div class="grid-con">
        <h2 class="hidden">About us</h2>
        <div class="col-span-full m-col-start-1 m-col-end-6 l-col-start-1 l-col-end-7 building-blocks" >
        <img sizes=" (min-width: 992px) 410px,   
                        (min-width: 768px) 350px,  
                        (min-width: 412px) 310px, 100vw" srcset="
                    images/building_blocks_486.jpg 410w, 
                    images/building_blocks_500.jpg 510w, 
                    images/building_blocks_600.jpg 610w,
                    images/building_blocks_700.jpg 710w,
                    images/building_blocks_800.jpg 810w" src="images/building_blocks_800.jpg" alt="Building blocks">
        </div>
        <div class="col-span-full m-col-start-6 m-col-end-13 l-col-start-7 l-col-end-13">
      <h3>Where Every Toy Tells a Story</h3>
      <p>At PlayNest, we believe every baby deserves a world full of wonder, curiosity, and joy. Our carefully curated toys spark imagination, nurture growth, and make playtime safe, fun, and memorable.
      </p>
      <a href="#" class="btn">MORE ABOUT US</a>
    </div>
    </div>
    </article>

    <article class="grid-con">
        <h2 class="hidden">Our Features</h3>

        <div class="features col-start-2 col-end-4 m-col-start-1 m-col-end-5 l-col-start-1 l-col-end-5">
            <i class="fa-solid fa-store" id="business"></i>
            <h3>Support Small Businesses</h3>
            <p>By supporting small businesses, we help families discover unique, high-quality toys while nurturing a community of makers.</p>
        </div>
        <div class="features col-start-2 col-end-4 m-col-start-5 m-col-end-9 l-col-start-5 l-col-end-9">
            <i class="fa-solid fa-leaf" id="leaf"></i>
            <h3>Eco-Friendly Materials</h3>
            <p>We care for little ones and the planet. That’s why we source toys that are made from safe, sustainable materials.</p>
        </div>
        <div class="features col-start-2 col-end-4 m-col-start-9 m-col-end-13 l-col-start-9 l-col-end-13">
            <i class="fa-solid fa-box-open" id="package"></i>
            <h3>Packaged with Care</h3>
            <p>From our nest to yours, every order is thoughtfully packaged to arrive safe, clean, and ready to delight.</p> 
        </div>
    </article>

  <div class="grid-con shop" id="app">
  <div class="col-span-full m-col-start-1 m-col-end-13 toys">
    <h2>Shop All Toys</h2>
    <p>From tiny hands to big imaginations, our full collection has something for every stage of play. Explore, discover, and let the fun begin!</p>
    <!-- <p>Click on a toy name to find out more about it</p> -->
    <div v-if="loadingToys">
      <img class="loader" src="images/loader.svg" alt="Loading Toys">
    </div>
    <ul id="toy-list" v-else class="grid-con">
      <li v-for="toy in toysData" :key="toy.id" class="toy-box col-span-2 m-col-span-6 l-col-span-4">
         
        <h3>
             {{toy.toy_name}}
          <button @click="getToy(toy.id)">
            View Details
          </button>
        </h3>
      </li>
    </ul>
  </div>
  <div class="col-span-full m-col-start-1 m-col-end-13" ref="toyInfoCon">
   <div v-if="loadingToyDetails">
      <img class="loader" src="images/loader.svg" alt="Loading Toy Details">
    </div>
    <div v-else-if="error">
      {{error}}
    </div>
    <div v-else-if="selectedToys" id="info-box"  class="grid-con">
        <div class="col-span-full m-col-start-1 m-col-end-6">
      <img :src="selectedToys.m_image_url" :alt="selectedToys.toy_name">
      </div>
      <div class="col-span-full m-col-start-6 m-col-end-13 toyinfo">
      <p class="toy-name">
      {{selectedToys.toy_name}}
      </p>
      <p>
      <span class="title">Brand:</span>
      {{selectedToys.brand_name}}
      </p>
      <p>
      <span class="title">Description:</span>
      {{selectedToys.toy_description}}
      </p>
      <p>
      <span class="title">Price:</span>
      ${{selectedToys.toy_price}}
      </p>
      </div>
    </div>
  </div>

</div>
    </main>

    <div class="col-span-full line-separator">
    </div>
    <footer class="grid-con footer">
        <!-- <div class="col-span-full"> -->
            <div class="footer-logo col-start-1 col-end-2 m-col-start-1 m-col-end-3">
                <img src="images/playnest_logo.png" alt="PlayNest Logo">
            </div>
          <div class="col-start-3 col-end-5 m-col-start-5 m-col-end-9 l-col-start-5 l-col-end-9">
            <nav class="footer-nav">
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">SHOP</a></li>
                        </ul>
                    </nav>
          </div>
            <div class="social-medias col-span-full m-col-start-9 m-col-end-13 l-col-start-10 l-col-end-13">
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#">
                   <i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
              <div class="col-span-full m-col-start-9 m-col-end-13 l-col-start-10 l-col-end-13 footer-txt">
                <h3>All rights reserved PlayNest</h3>
            </div>
        <!-- </div> -->
    </footer>

</body>

</html>