@use '../abstracts';
#main-header {
    background-color: #fff;
     width: 100%;
     height: 90px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 45px;

     #logo {
        margin-top: 30px;
    width: 90px;
    height: 90px;
    }
#ham-burger {
  display: flex;
  cursor: pointer;
  
  img {
     height: 40px;
     width: 40px;
     transition: all 0.4s ease;
  }
      @media (min-width: 768px) {
      display: none;
    }
}


#hamburger {
  display: none;

  &:checked ~ label img {
 transform: rotate(90deg);
  }
  &:checked ~ #main-nav {
  transform: translateX(0);
  opacity: 1;
}
}
#main-nav {
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 1;
  transform: translateX(-100%);
  opacity: 0;
  transition: all  0.3s ease;
  


  nav{
     ul {
      list-style-type: none;
      margin-top: 70px;
      padding: 0;

  li {
      margin: 30px 50px 30px 10px;
  
      a {
         color: abstracts.$primary-color;
         display: block;
         text-decoration: none;
         font-size: 22px;
      &:hover {
              color: abstracts.$accent-color;
              transform: scale(1.1);
              text-decoration: underline;
               transition: all 0.3s ease-in-out;
            }
         }
      }
    }
  }
}
.header-icons{
display: flex;
justify-content: flex-end;
align-items: center;
gap: 25px;
}

.header-icons i{
font-size: 25px;
color: abstracts.$primary-color;
transition: 0.3s;
}

.header-icons i:hover{
color:abstracts.$blue;
transform:scale(1.1);
}
}
@media screen and (min-width: 768px) {
 
  #main-header {
    // margin-top: 30px;
    #ham-burger {
    display: none;
    }

    #main-nav {
      width: auto;
      height: 50px;
      position: relative;
      opacity: 1;
      transform: none;
      transition: none;
      background-color: abstracts.$primary-color;
      border-radius: 20px;
      top: 0;
    }
  
  #main-nav nav ul {
    margin-top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 90px;
  }

  #main-nav nav ul li {
    margin: 0;
    padding: 10px;
  }

  #main-nav nav ul li a {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: none;
    font-weight: abstracts.$font-bold;
    color: abstracts.$accent-color;
  }
  #main-nav nav ul li a:hover {
    color: abstracts.$primary-color;
    text-decoration: underline;
     transition: all 0.3s ease-in-out;
  }
  }
}

@media screen and (min-width: 1200px) {
  #ham-burger {
    display: none;
  }

  #main-header {
    // margin-top: 30px;
    #main-nav {
      position: relative;
      width: auto;
      height: 60px;
      opacity: 1;
      transform: none;
      background-color: abstracts.$primary-color;
      border-radius: 20px;
      top: 0;
      transition: none;
    }
  
  #main-nav nav ul {
    margin-top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 100px;
  }

  #main-nav nav ul li {
    margin: 0;
    padding: 10px;
  }

  #main-nav nav ul li a {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: none;
    color: abstracts.$accent-color;
  }
  #main-nav nav ul li a:hover {
    color:abstracts.$accent-color;
  }
  }
}